*.log
*.swp
*~
.DS_Store
.envrc
coverage/
doc/
docs/
release-metadata.json
tmp/
work/

# TypeScript project ignores
ts/build/
ts/dist/
ts/lib/
ts/node_modules/

# Ruby project ignores
ruby/.bundle/
ruby/.rake_tasks~
ruby/Gemfile.lock
ruby/gemfiles/*.lock
ruby/pkg/
